.main {
  .first_page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0px;
    height: 636px;

    background-color: #0e0e0e;

    .Left_description {
      margin-left: 45px;
      .New_product {
        width: 222px;
        height: 19px;
        color: gray;
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 19.12px;
        letter-spacing: 10px;
        margin-bottom: 24px;
      }
      .Title {
        width: 396px;
        height: 116px;
        font-family: "Manrope", sans-serif;
        font-size: 56px;
        font-weight: 700;
        line-height: 58px;
        letter-spacing: 2px;
        margin-bottom: 24px;
        color: #ffffff;
      }
      .FPage_description {
        width: 349px;
        height: 75px;
        font-family: "Manrope", sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 25px;
        margin-bottom: 40px;
        color: #ffffff;
      }
      .FPage_Button {
        width: 160px;
        height: 48px;
        background-color: #d87d4a;
        color: #ffffff;
      }
    }
  }
  .Products {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    width: 100%;
    height: 284px;

    .First_Product {
      position: relative;
      width: 350px;
      height: 204px;
      background-color: #f1f1f1;
      position: relative;
      .Headphone {
        position: absolute;
        bottom: 122px;
        left: 113px;
      }
      .Product_center1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 116px;
        .Product_Title {
          width: 133px;
          height: 25px;
          font-family: "Manrope", sans-serif;
          font-size: 18px;
          font-weight: 700;
          line-height: 24.59px;
          letter-spacing: 1.2857142686843872px;
          text-align: center;
          color: #000000;
        }
        .Products_Buy1 {
          display: flex;
          cursor: pointer;
          width: 57.32px;
          height: 18px;
          .buy_icon {
            font-family: "Manrope", sans-serif;
            font-size: 13px;
            font-weight: 700;
            line-height: 17.76px;
            letter-spacing: 1px;
            color: #000000;
            margin-right: 4px;
            transition: color 0.4s ease;
          }
          .buy_icon:hover {
            color: #d87d4a;
          }
        }
      }
    }
    .Second_Product {
      width: 350px;
      height: 204px;
      background-color: #f1f1f1;
      position: relative;
      .speaker {
        position: absolute;
        bottom: 122px;
        left: 113px;
      }
      .Product_center2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 116px;
        .Product_Title2 {
          width: 133px;
          height: 25px;
          font-family: "Manrope", sans-serif;
          font-size: 18px;
          font-weight: 700;
          line-height: 24.59px;
          letter-spacing: 1.2857142686843872px;
          text-align: center;
          color: #000000;
        }
        .Products_Buy2 {
          width: 57.32px;
          height: 18px;
          cursor: pointer;

          display: flex;
          .buy_icon1 {
            margin-right: 4px;
            font-family: "Manrope", sans-serif;
            font-size: 13px;
            font-weight: 700;
            line-height: 17.76px;
            letter-spacing: 1px;
            color: #000000;
            transition: color 0.4s ease;
          }
          .buy_icon1:hover {
            color: #d87d4a;
          }
        }
      }
    }
    .Third_Product {
      position: relative;
      width: 350px;
      height: 204px;
      background-color: #f1f1f1;
      .earphones {
        position: absolute;
        bottom: 136px;
        left: 113px;
      }
      .Product_center3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 116px;
        .Product_Title3 {
          width: 133px;
          height: 25px;
          font-family: "Manrope", sans-serif;
          font-size: 18px;
          font-weight: 700;
          line-height: 24.59px;
          letter-spacing: 1.2857142686843872px;
          text-align: center;
          color: #000000;
        }
        .Products_Buy3 {
          display: flex;
          cursor: pointer;
          width: 57.32px;
          height: 18px;

          .buy_icon2 {
            font-family: "Manrope", sans-serif;
            font-size: 13px;
            font-weight: 700;
            line-height: 17.76px;
            letter-spacing: 1px;
            margin-right: 4px;
            color: #000000;
            transition: color 0.4s ease;
          }
          .buy_icon2:hover {
            color: #d87d4a;
          }
        }
      }
    }
  }
  .Audio_Gear {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 112px;
    width: 100%;
    height: 588px;
    .Audio_left {
      margin-right: 62.5px;
      .Audio_P {
        width: 445px;
        height: 88px;
        font-family: "Manrope";
        font-size: 41px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 1.4285714626312256px;
      }
      .Audio_description {
        margin-top: 32px;
        width: 445px;
        height: 175px;
        font-family: "Manrope";
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
      }
    }

    .Audio_img {
      margin-left: 62.5px;
    }
  }
}
